
.debug main{
    background-color: orchid ;
    height: calc(100vh - 100px);
}

.debug footer{
    height: 100px;
    background-color: wheat;
} 

.debug .menu{
    background-color: aqua;
    width: 250px;
}

.debug .content{
    background-color: violet;
    height: calc(100% - 100px);
    
}

.debug .upgrade{
    background-color: blue;
    height: 100px;
   
}
#site_main{
    background-color: brown;
}