*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --spfy-black: #000 ;
    --spfy-white: #fff ;
    --spfy-bg-main: #141922;
    --spfy-bg-menu: #000 ;
    --spfy-menu-text: #6f6f6f ;
    --spfy-menu-text-hover: #fdfdfd ;
    --spfy-bg-tools: #282828  ;
    --spfy-icon: #a3a3a3 ;
    --spfy-icon-hover: #d2d2d2 ;
    --spfy-nav: #7d7f84 ;
    --spfy-primary: #adff2f ;
}

body{
    font-family: 'DM Sans', sans-serif;
}

main{
    height: calc(100vh - 100px);
}
nav ul {
    gap: 1rem;
    padding: 1rem 0 2rem;
}
a{
    text-decoration: none;
}
nav ul a{
    color: var(--spfy-nav);
}

nav ul li:hover {
    border-bottom: 3px solid var(--spfy-primary);
}

/* #region main */
#site_main{
    background-color: var(--spfy-bg-main);
}
/* #region menu */
.menu{
    background-color: var(--spfy-bg-menu);
    width: 250px;
    flex-direction: column;
    color: var(--spfy-white);
}
.box img{
    padding: 0 1rem;
} 
.box img:hover  { 
    border-left: 3px solid var(--spfy-primary);
}
.box img:hover + span{ 
    color: var(--spfy-primary);
}
.img-fix{
    width: 50%;
    max-width: 75px;
}
.logo{
    padding: 1rem 4rem 1rem 1rem;
}
.personal_area > img{
    object-fit: cover;
}
.user{
    margin-top: auto;
}
/* #endregion menu */

/* #region Upgrade */
.upgrade{
    background-color: var(--spfy-bg-menu);
    height: 100px;
    flex-direction: row-reverse;
    align-items: center;
}
.upgrade a{
    color: var(--spfy-white);
}
.banner{
    background-color: transparent;
    border: 2px solid var(--spfy-white);
    padding: 1rem 2rem;
    margin-right: 2rem;
    border-radius: 50px;
}

.banner:hover{
    scale: 1.25;
}
/* #endregion Upgrade */

/* #region content */

.discover{
    flex-wrap: wrap;
    justify-content: center;
}
.content{
    background-color: var(--spfy-bg-main);
    color: var(--spfy-white);
    height: calc(100vh - 200px);
    overflow-y: scroll;
}

.card{
    text-align: center;
    margin: 1rem;
}
.card img:hover{
    opacity: 0.5;
} 
.z-{
    z-index: -999;
    transition: all 0.5s;
}
.card img:hover + .z-{
    z-index: 999;
} 
.circle {
    border-radius: 50%;
}

/* #endregion content */

/* #region tools */
.tools{
    background-color: var(--spfy-bg-tools);
    height: 100px;
}
/* #endregion tools */


/* #region main */


/* #region utility */ 
/* txt */
.caps{
    text-transform: uppercase;
}
/* list */

.list-unstyled {
	list-style: none;
}

.list-inline {
    display: flex;
}

/* img */
.img-flow{
    width: 100%;
}
/* container */

.container{
    max-width: 95%;
    width: 100%;
    margin: auto;  
}
/* position */
.p-relative{
    position: relative;
}

.p-absolute{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* display */
.d-none{
    display: none;
}
/* flex */
.f-end{
    justify-content: end;
}
.d-flex{
    display: flex;
}
.space-btw{
    justify-content: space-between;
}
.just-center{
    justify-content: center;
}
.align-items{
    align-items: center;
}
/* row */
.row{
    flex-wrap: wrap;
    display: flex;
    height: 100%;
    
}

.row-c{
    display: flex;
    flex-direction: column;
}

.row-w{
    width: calc(100% - 250px);
}
/* col- */
.colonna{
    width: 80%;
    max-width: 230px;
    min-width: 200px;
   
}
.col-10{
    width: calc(100%/12*10);
}
/* #endregion utility */ 

@media (max-width: 550px) {  
    .colonna{
        max-width: none;
        min-width: 250px;
    }
    .row{
        justify-content: center;
    }
  }

@media (max-width: 768px) {  
    .menu-hide{    
        width: 50px;
    } 
    
    .row-w{
        width: calc(100% - 50px);
    }
    .d-none-sm{
        display: none;
    }

    .box img{
        padding: 0;
    }
    .img-fix{
        max-width: 50px;
        width: 100%;
    }
    .logo{
        padding: 0.25rem;
    }
    .d-block-sm{
        display: block;
    }
  
  }