*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --spfy-black: #000 ;
    --spfy-white: #fff ;
    --spfy-bg-main: #141922;
    --spfy-bg-menu: #000 ;
    --spfy-menu-text: #6f6f6f ;
    --spfy-menu-text-hover: #fdfdfd ;
    --spfy-bg-tools: #282828  ;
    --spfy-icon: #a3a3a3 ;
    --spfy-icon-hover: #d2d2d2 ;
    --spfy-nav: #7d7f84 ;
    --spfy-primary: #adff2f ;
}






/* #region main */
#site_main{
    background-color: var(--spfy-bg-main);
}
/* #region menu */
.menu{
    background-color: var(--spfy-bg-menu);
}
/* #endregion menu */

/* #region Upgrade */
.upgrade{
    background-color: var(--spfy-bg-menu);
    opacity: 0.5;
}
/* #endregion Upgrade */

/* #region content */
.content{
    background-color: var(--spfy-bg-main);
}
/* #endregion content */

/* #region tools */
.tools{
    background-color: var(--spfy-bg-tools);
}
/* #endregion tools */


/* #region main */


/* #region utility */ 
/* container */
.container{
    max-width: 95%;
    width: 100%;
    margin: auto;
   
}

/* flex */
.f-end{
    justify-content: end;
}
.d-flex{
    display: flex;
}
.space-btw{
    justify-content: space-between;
}
/* row */
.row{
    flex-wrap: wrap;
    display: flex;
    height: 100%;
    
    
}

.row-c{
    display: flex;
    flex-direction: column;
}

.row-w{
    width: calc(100% - 250px);
}
/* col- */
.col-2{
    width: calc(100%/12*2);

   
}
.col-10{
    width: calc(100%/12*10);
}
/* #endregion utility */ 
